.gridcontainer {
    display: flex;

  }
  
.bodymain  { 
      flex: 1;
}

.bodymain h1{
    text-align: left;
    
}

.bodymain a {
    color: black;
    text-decoration: none;

}

hr {
    border-top: 2px solid #454546;
}

.booklistmain ul {
    text-align: center;
}

.filterList {
  
    margin: 10px;
    width: 100%;
}

