.form {
    display: flex;
    margin: 4px;

} 

.form label {
    font-size: 16px;
}

.inputarea {
    padding: 4px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items:center;   
}

.inputarea input {
    display: flex;
    padding: 12px 10px;
    margin: 8px 0;
    border: 1px solid #454546;
    border-radius: 4px;
    box-sizing: border-box;
}

.inputarea h2 {
    color: whitesmoke;
}

.formborder {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 600px;
    width: 50%;
    margin-top: 16px;
    margin-left:auto;
    margin-right: auto;
    background-color: #464545;
    border-radius: 4px;
    padding: 4px;
}

.formborder input:focus {
    outline: none;
}


.formbutton {
    background-color: #454546; 
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 16px;
    margin: 10px;
    border: none;
    border-radius: 4px;
}

.formbutton:hover {
    background-color: lightgreen;
    cursor: pointer;
}
